*.MD
*.txt
!service-1-api/requirements.txt
!service-2-worker/requirements.txt
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.env
.env.*
venv/
.venv/
uploads/
health/
.DS_Store
.terraform/
terraform.tfstate
terraform.tfstate.backup
**/terraform.tfstate
**/terraform.tfstate.backup
*.tfvars
docker-compose.yml
